<br>
<br>

<div class="footer-1">
    <h7><a href="">₢ InGame - 2022 - Todos os direitos não tão reservados</a></h7>
    <h7 class="footer-2"><a href="">Luhan Fernandes & Yasmin Branco</a></h7>
    <br>
</div>