<%-include('../../../partials/heade.ejs')%>

<body>
    <div class="principal configD">
    <%-include('../../../partials/navbar.ejs')%>

   <br>

   <div class="container">

    <div class="categoria centralizar">
        <br>

        <h1>Tutorial do Darius</h1>
    </div>

    <iframe width="100%" height="700" src="https://www.youtube.com/embed/cuCbV1K40Us" title="COMO JOGAR DE DARIUS - TUTORIAL DE RUNAS, COMBOS, BUILDS E MATCHUPS - COM AYEL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>


   </div>


   <br>
    <%-include('../../../partials/footer-1.ejs')%>
</div>
</body>

<%-include('../../../partials/footer.ejs')%>