<%-include('../../../partials/heade.ejs')%>

<body>
    <div class="principal configD">
    <%-include('../../../partials/navbar.ejs')%>

   <br>

   <div class="container">

    <div class="categoria centralizar">
        <br>

        <h1>Tutorial da Glock</h1>
    </div>

    <iframe width="100%" height="700" src="https://www.youtube.com/embed/Dh6DzMtg4ew" title="COMO JOGAR DE GLOCK NO CS:GO - CS:GO DICAS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>


   <br>
    <%-include('../../../partials/footer-1.ejs')%>
</div>
</body>

<%-include('../../../partials/footer.ejs')%>