<%-include('partials/heade.ejs')%>

<body>

    <div class="principal">
        <%-include('partials/navbar.ejs')%>
        <br>
        <br>
        <div class="container">
            <div class="contact">
                <img src="img/ingame_logo.png" width="30%" alt="">
                <br>
                <br>
                <h2>Luhan Fernandes</h2>
                <div class="social">
                    <a href="https://www.linkedin.com/in/luhanfernandes/">@Linkedin</a>
                </div>
                <br>
                <div class="social">
                    <a href="https://www.instagram.com/luhanfernandes/">@Instagram</a>
                </div>

                <br>

                <h2>Yasmin Branco</h2>
                <div class="social">
                    <a href="https://www.linkedin.com/in/yasminbranco/">@Linkedin</a>
                </div>
                <br>
                <div class="social">
                    <a href="https://www.instagram.com/yasmin_branco10/">@Instagram</a>
                </div>
            </div>
            </div>
            <br>
            <br>
            <br>
            
        </div>
    </div>
    <%-include('partials/footer-1.ejs')%>
</body>

<%-include('partials/footer.ejs')%>