<%-include('partials/heade.ejs')%>

<body>
  <div class="principal configD">
    
    <%-include('partials/navbar.ejs')%>
    <br>
    <br>


    <div class="container">

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <iframe width="100%" height="480" src="https://www.youtube.com/embed/Ka6Cg70V1Mo" title="🎮☠️ AS JOGADAS LENDÁRIAS QUE GANHARAM GRÁFITE NO CS GO!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="carousel-item">
            <iframe width="100%" height="480" src="https://www.youtube.com/embed/Meossl1tNUM" title="AS 10 MELHORES JOGADAS DA HISTÓRIA DO CBLOL | Versus Esports" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="carousel-item">
            <iframe width="1333" height="480" src="https://www.youtube.com/embed/70bEyj040tM" title="TOP 30 MELHORES Jogadas de Novembro no VALORANT.." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          </div>
        </div>

        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>


        <div class="categoria">
            <h1>GG MID!</h1>
        </div>

      <div class="row row-cols-1 row-cols-md-2 g-2">
        <div class="col">
          <div class="card efeito efeitoCont">
            <iframe width="auto" height="380" src="https://www.youtube.com/embed/cD02S-V1vbA" title="#Worlds2022: As 10 melhores jogadas da Fase de Entrada!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <iframe width="auto" height="380" src="https://www.youtube.com/embed/nl1mS6Ydo38" title="Top 5 Jogadas: CBLOL 2022 - 1ª Etapa // Semana 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="container">
        <div class="categoria">
            <h1>Segura o rush na varanda!</h1>
        </div>

      <div class="row row-cols-1 row-cols-md-2 g-2">
        <div class="col">
          <div class="card efeito efeitoCont">
            <iframe width="auto" height="380" src="https://www.youtube.com/embed/x-JsdyaxbV4" title="As 25 melhores jogadas da Furia na classificação pro LEGENDS do MAJOR RIO de CS:GO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <iframe width="auto" height="380" src="https://www.youtube.com/embed/21rat-X1qpY" title="10 VEZES QUE COLDZERA DEIXOU OS NARRADORES MALUCOS!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="container">
        <div class="categoria">
            <h1>Alguém compra pra mim?</h1>
        </div>

      <div class="row row-cols-1 row-cols-md-2 g-2">
        <div class="col">
          <div class="card efeito efeitoCont">
            <iframe width="auto" height="380" src="https://www.youtube.com/embed/wgyJLCojPtU" title="TOP 30 MELHORES Jogadas de AGOSTO no VALORANT..." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <iframe width="auto" height="380" src="https://www.youtube.com/embed/iSeAjONFwX8" title="57 CLUTCHES que IMPRESSIONARAM  a TODOS no Valorant..." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
          </div>
        </div>
      </div>
    </div>

    <%-include('partials/footer-1.ejs')%>

  </div>

</body>

<%-include('partials/footer.ejs')%>