<%-include('../../../partials/heade.ejs')%>

<body>
    <div class="principal configD">
    <%-include('../../../partials/navbar.ejs')%>

   <br>

   <div class="container">

    <div class="categoria centralizar">
        <br>
        <h1>Tutorial do KhaZix</h1>
    </div>

    <iframe width="100%" height="700px" src="https://www.youtube.com/embed/veSwKhdhTA0" title="COMO JOGAR DE KHA´ZIX JUNGLE - GUIA COMBOS BÁSICO - PARTE 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

   </div>


   <br>
    <%-include('../../../partials/footer-1.ejs')%>
</div>
</body>

<%-include('../../../partials/footer.ejs')%>