<%-include('../partials/heade.ejs')%>

<body>
  <div class="principal configD">
    <%-include('../partials/navbar.ejs')%>
    
    
      <br>

    <div class="container">
        <div class="categoria">
            <h1>Mapas</h1>
        </div>

        <div class="row row-cols-1 row-cols-md-6 g-4">
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_dust2"><img src="img/csgo/dust2_csgo.jpg" class="card-img-top" alt="..."></a>
            
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_mirage"><img src="img/csgo/mirage_csgo.jpg" class="card-img-top" alt="..."></a>
            
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_overpass"><img src="img/csgo/overpass_csgo.jpg" class="card-img-top" alt="..."></a>
                
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_train"><img src="img/csgo/train_csgo.jpg" class="card-img-top" alt="..."></a>
              </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                  <a href="/tutorial_cache"><img src="img/csgo/cache_csgo.jpg" class="card-img-top" alt="..."></a>
                </div>
              </div>

              <div class="col">
                <div class="card efeito efeitoCont">
                  <a href="/tutorial_inferno"><img src="img/csgo/inferno_csgo.jpg" class="card-img-top" alt="..."></a>
                </div>
              </div>
          </div>

    </div>

    <br>

    <div class="container">
        <div class="categoria">
            <h1>Armas</h1>
        </div>

      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_ak47"><img src="img/csgo/ak-47_csgo.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_awp"><img src="img/csgo/awp_csgo.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_m4a4"><img src="img/csgo/m4a4_csgo.jpg" class="card-img-top" alt="..."></a>
            
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_m4a1s"><img src="img/csgo/m4a1_csgo.jpg" class="card-img-top" alt="..."></a>
          </div>
        </div>

        <div class="col">
            <div class="card efeito efeitoCont">
              <a href="/tutorial_ssg"><img src="img/csgo/ssg_csgo.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>

          <div class="col">
            <div class="card efeito efeitoCont">
              <a href="/tutorial_aug"><img src="img/csgo/aug_csgo.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>

      </div>
    </div>

    <br>

    <div class="container">
        <div class="categoria">
            <h1>Pistolas</h1>
        </div>

      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_usp"><img src="img/csgo/usp_csgo.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_glock"><img src="img/csgo/glock_csgo.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_desert"><img src="img/csgo/desert_csgo.jpg" class="card-img-top" alt="..."></a>
            
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_revolver"><img src="img/csgo/revolver_csgo.jpg" class="card-img-top" alt="..."></a>
          </div>
        </div>

        <div class="col">
            <div class="card efeito efeitoCont">
              <a href="/tutorial_fiveseven"><img src="img/csgo/five-seven_csgo.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>

          <div class="col">
            <div class="card efeito efeitoCont">
              <a href="/tutorial_dual"><img src="img/csgo/dual_csgo.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>
      </div>
    </div>

    <br>

    <%-include('../partials/footer-1.ejs')%>

  </div>

</body>

<%-include('../partials/footer.ejs')%>