<%-include('../partials/heade.ejs')%>

<body>
  <div class="principal configD">
    <%-include('../partials/navbar.ejs')%>

    <br>

    <div class="container">
        <div class="categoria">
            <h1>Top's Laner</h1>
        </div>

      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_fiora"><img src="img/lol/fiora_lol.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_shen"><img src="img/lol/shen_lol.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_darius"><img src="img/lol/darius_lol.jpg" class="card-img-top" alt="..."></a>
            
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_riven"><img src="img/lol/riven_lol.jpg" class="card-img-top" alt="..."></a>
          </div>
        </div>

        <div class="col">
            <div class="card efeito efeitoCont">
              <a href="/tutorial_kayle"><img src="img/lol/kayle_lol.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>

          <div class="col">
            <div class="card efeito efeitoCont">
              <a href="/tutorial_yasuo"><img src="img/lol/yasuo_lol.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>
        
      </div>

    </div>

    <br>

    <div class="container">
        <div class="categoria">
            <h1>Junglers</h1>
        </div>

      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_amumu"><img src="img/lol/amumu_lol.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_graves"><img src="img/lol/graves_lol.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_khazix"><img src="img/lol/khazix_lol.jpg" class="card-img-top" alt="..."></a>
          </div>
        </div>

        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_shaco"><img src="img/lol/shaco_lol.jpg" class="card-img-top" alt="..."></a>
          </div>
        </div>

        <div class="col">
            <div class="card efeito efeitoCont">
              <a href="/tutorial_olaf"><img src="img/lol/olaf_lol.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>

          <div class="col">
            <div class="card efeito efeitoCont">
              <a href="/tutorial_hecarim"><img src="img/lol/hecarim_lol.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>
        
      </div>

    </div>

    <br>

    <div class="container">
        <div class="categoria">
            <h1>Mid's Laner</h1>
        </div>

      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_kassadin"><img src="img/lol/kassadin_lol.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_morgana"><img src="img/lol/morgana_lol.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_yasuo_mid"><img src="img/lol/yasuo_lol.jpg" class="card-img-top" alt="..."></a>
            
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_syndra"><img src="img/lol/syndra_lol.jpg" class="card-img-top" alt="..."></a>
          </div>
        </div>

        <div class="col">
            <div class="card efeito efeitoCont">
              <a href="/tutorial_katarina"><img src="img/lol/katarina_lol.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>

          <div class="col">
            <div class="card efeito efeitoCont">
              <a href="/tutorial_ahri"><img src="img/lol/ahri_lol.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>
        
      </div>

    </div>

    <br>

    <div class="container">
        <div class="categoria">
            <h1>Adc's</h1>
        </div>

      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_ashe"><img src="img/lol/ashe_lol.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_lucian"><img src="img/lol/lucian_lol.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_twitch"><img src="img/lol/twitch_lol.jpg" class="card-img-top" alt="..."></a>
            
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_kaisa"><img src="img/lol/kaisa_lol.jpg" class="card-img-top" alt="..."></a>
          </div>
        </div>

        <div class="col">
            <div class="card efeito efeitoCont">
              <a href="/tutorial_draven"><img src="img/lol/draven_lol.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>

          <div class="col">
            <div class="card efeito efeitoCont">
              <a href="/tutorial_jinx"><img src="img/lol/jinx_lol.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>
        
      </div>

    </div>

    <br>

    <div class="container">
        <div class="categoria">
            <h1>Supports</h1>
        </div>

      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_janna"><img src="img/lol/janna_lol.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_bardo"><img src="img/lol/bardo_lol.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_thresh"><img src="img/lol/thresh_lol.jpg" class="card-img-top" alt="..."></a>
            
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_pyke"><img src="img/lol/pyke_lol.jpg" class="card-img-top" alt="..."></a>
          </div>
        </div>

        <div class="col">
            <div class="card efeito efeitoCont">
              <a href="/tutorial_morgana"><img src="img/lol/morgana_lol.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>

          <div class="col">
            <div class="card efeito efeitoCont">
              <a href="/tutorial_nami"><img src="img/lol/nami_lol.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>
        
      </div>

    </div>

    <br>

    <%-include('../partials/footer-1.ejs')%>

  </div>

</body>

<%-include('../partials/footer.ejs')%>