<%-include('../partials/heade.ejs')%>

<body>
  <div class="principal configD">
    
    
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/csgo_slide.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/lol_slide.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/valorant_slide.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>

      <%-include('../partials/navbar.ejs')%>

    <div class="container">
        <div class="categoria">
            <h1>League of Legends</h1>
        </div>

      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_kassadin"><img src="img/lol/kassadin_lol.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_morgana"><img src="img/lol/morgana_lol.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_yasuo"><img src="img/lol/yasuo_lol.jpg" class="card-img-top" alt="..."></a>
            
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_syndra"><img src="img/lol/syndra_lol.jpg" class="card-img-top" alt="..."></a>
          </div>
        </div>
      </div>

        <div class="categoria"><a href="/lol"><h6>Mais conteúdo sobre league of legends</h6></a></div>

    </div>

    <br>

    <div class="container">
        <div class="categoria">
            <h1>Counter-Strike:GO</h1>
        </div>

      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_dust2"><img src="img/csgo/dust2_csgo.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_mirage"><img src="img/csgo/mirage_csgo.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_overpass"><img src="img/csgo/overpass_csgo.jpg" class="card-img-top" alt="..."></a>
            
          </div>
        </div>
        <div class="col"çoh
        >
          <div class="card efeito efeitoCont">
            <a href="/tutorial_train"><img src="img/csgo/train_csgo.jpg" class="card-img-top" alt="..."></a>
          </div>
        </div>
      </div>
        <div class="categoria"><a href="/cs"><h6>Mais conteúdo sobre counter-stike:go </h6></a></div>
    </div>

    <br>

    <div class="container">
        <div class="categoria">
            <h1>Valorant</h1>
        </div>

      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_jett"><img src="img/valorant/jett_valorant.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_neon"><img src="img/valorant/neon_valorant.jpg" class="card-img-top" alt="..."></a>
        
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_omen"><img src="img/valorant/omen_valorant.jpg" class="card-img-top" alt="..."></a>

            
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/tutorial_sage"><img src="img/valorant/sage_valorant.jpg" class="card-img-top" alt="..."></a>
          </div>
        </div>
      </div>
        <div class="categoria"><a href="/valorant"><h6>Mais conteúdo sobre valorant</h6></a></div>
    </div>

    <%-include('../partials/footer-1.ejs')%>

  </div>

</body>

<%-include('../partials/footer.ejs')%>