<%-include('../partials/heade.ejs')%>

<body>
  <div class="principal configD">
    <%-include('../partials/navbar.ejs')%>
    
    
      <br>

    <div class="container">
        <div class="categoria">
            <h1>Mapas</h1>
        </div>

        <div class="row row-cols-1 row-cols-md-6 g-4">
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_ascent"><img src="img/valorant/ascent_valorant.jpg" class="card-img-top" alt="..."></a>
            
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_breeze"><img src="img/valorant/breeze_valorant.jpg" class="card-img-top" alt="..."></a>
            
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_fracture"><img src="img/valorant/fracture_valorant.jpg" class="card-img-top" alt="..."></a>
                
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_haven"><img src="img/valorant/haven_valorant.jpg" class="card-img-top" alt="..."></a>

              </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                  <a href="/tutorial_icebox"><img src="img/valorant/icebox_valorant.jpg" class="card-img-top" alt="..."></a>

                </div>
              </div>

              <div class="col">
                <div class="card efeito efeitoCont">
                  <a href="/tutorial_pearl"><img src="img/valorant/pearl_valorant.jpg" class="card-img-top" alt="..."></a>

                </div>
              </div>
          </div>

    </div>

    <br>

    <div class="container">
        <div class="categoria">
            <h1>Armas</h1>
        </div>

        <div class="row row-cols-1 row-cols-md-6 g-4">
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_sheriff"><img src="img/valorant/sheriff_valorant.jpg" class="card-img-top" alt="..."></a>
            
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_phanton"><img src="img/valorant/phantom_valorant.jpg" class="card-img-top" alt="..."></a>
            
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_vandal"><img src="img/valorant/vandal_valorant.jpg" class="card-img-top" alt="..."></a>
                
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_operator"><img src="img/valorant/operator_valorant.jpg" class="card-img-top" alt="..."></a>
              </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                  <a href="/tutorial_guardian"><img src="img/valorant/guardian_valorant.jpg" class="card-img-top" alt="..."></a>
                </div>
              </div>

              <div class="col">
                <div class="card efeito efeitoCont">
                  <a href="/tutorial_marshal"><img src="img/valorant/marshal_valorant.jpg" class="card-img-top" alt="..."></a>
                </div>
              </div>
          </div>

    </div>

    <br>

    <div class="container">
        <div class="categoria">
            <h1>Personagens</h1>
        </div>

        <div class="row row-cols-1 row-cols-md-6 g-4">
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_jett"><img src="img/valorant/jett_valorant.jpg" class="card-img-top" alt="..."></a>

            
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_sage"><img src="img/valorant/sage_valorant.jpg" class="card-img-top" alt="..."></a>

            
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_omen"><img src="img/valorant/omen_valorant.jpg" class="card-img-top" alt="..."></a>

                
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <a href="/tutorial_neon"><img src="img/valorant/neon_valorant.jpg" class="card-img-top" alt="..."></a>

              </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                  <a href="/tutorial_viper"><img src="img/valorant/viper_valorant.jpg" class="card-img-top" alt="..."></a>

                </div>
              </div>

              <div class="col">
                <div class="card efeito efeitoCont">
                  <a href="/tutorial_sova"><img src="img/valorant/sova_valorant.jpg" class="card-img-top" alt="..."></a>
                </div>
              </div>
          </div>

    </div>

    <br>

    <%-include('../partials/footer-1.ejs')%>

  </div>

</body>

<%-include('../partials/footer.ejs')%>